# xcode
*.xcworkspace/
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# spm
.swiftpm/
Package.resolved

# data n artifacts
DerivedData/
build/

# carthage
Carthage/

# archives
*.ipa
*.dSYM.zip
*.dSYM

# envs
.env
.env.*

# mac stuff
*.DS_Store
